body,
html {
}

body {
  /* border: 3px solid red; */
}

/* audio Call Container */
.audioCallContainer {
  position: relative;
  background-color: blue;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  height: 100vh;
  width: 100vw;

  margin: 0px;
  padding: 0px;
}

.backAndSettingsButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 100px;
  padding: 20px 80px;
}

.backButton {
  border-radius: 50px;
  border: 0px;

  color: #fff;
  font-size: 35px;
}

.topSettings {
  border-radius: 50px;
  border: 0px;

  color: #fff;
  font-size: 35px;

  background-color: rgba(255, 255, 255, 0);
}

/* Others Audio */

.othersAudio {
  position: relative;

  width: 100%;
  height: 100%;
}

.othersAudio .image {
  /* height: 200px; */

  margin: auto;
  /* margin-top: 80px; */
}

.othersAudio .image img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  display: block;
  margin: 0px auto;
}

/* Buttons */

.buttonContainer {
  display: flex;
  flex-direction: row;

  width: 100%;
  position: absolute;
  bottom: 0px;
}

.buttonContainer .mainButtonsContainer {
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  width: 100%;

  padding: 0px 250px 20px 250px;
}

.buttonContainer .mainButtonsContainer .mainButtons {
  display: inline-block;
  width: 75px;
  height: 75px;

  border-radius: 50px;
  border: 0px;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.buttonContainer .mainButtonsContainer .mainButtons .endCall {
  background-color: red;
}

.buttonContainer button span {
  height: 100%;
  width: 100%;
}

.buttonContainer button .fas::before {
  color: white;
  font-size: 30px;
  line-height: 70px;
}

/* Media queries */

/* Wide screen video media query */
@media screen and (max-width: 600px) {
  .backAndSettingsButton {
    padding: 20px 20px;
  }

  .buttonContainer .mainButtonsContainer {
    padding: 0px;
  }
}
